<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site_url }}/img/favicon.png">
    {% block head %}{% endblock %}
    <style>{{ style.clear }}{% block style %}{% endblock %}</style>
</head>

<body>
    {% block beginbody %}{% endblock %}
    <nav id="nav">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block nav %}{% endblock %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block endbody %}{% endblock %}
    <footer>
    Copyright &copy; {{ current_year }} {{ settings.copyright }}. All rights reserved. Created using the <a href="{{ jdoc_url }}">jdoc documentation generator</a>.
    </footer>
    {% block end %}{% endblock %}
</body>
</html>
