{% macro paramsig(d) -%}
{{ d.type }} {{ d.declaration_name }}{% if d.defval %}={{d.defval}}{% endif %}
{%- endmacro %}
{% macro py_paramsig(d) -%}
{{ d.declaration_name }}{% if d.defval %}={{d.defval}}{% endif %}
{%- endmacro %}

{% macro typesig(d) -%}
# if d.t == "ev":
<a href="#{{ d.id }}">{{ d.name }}</a>
# elif lang.id == "csharp" or lang.id == "cpp" or lang.id == "c":
# if d.static
static
# endif
{{ d.type() }} <a href="#{{ d.id }}">{{ d.name }}</a>({{ d.parameters()|map_macro(paramsig)|join(", ") }})
# elif lang.id == "python"
{{ d.type() }} <a href="#{{ d.id }}">{{ d.name }}</a>({{ d.py_parameters()|map_macro(py_paramsig)|join(", ") }})
# else:
TODO typesig for {{ lang.id }}
# endif
{%- endmacro %}

{% macro doc_list(list, label) -%}
# for m in list
# if loop.first
<h2>{{ label }}</h2>
<dl>
# endif
<dt id="{{ m.id }}">{{ typesig(m) }}</dt>
<dd>
{{ m.brief|docstr(m.id) }}
{{ m.detailed|docstr(m.id) }}
</dd>
# if loop.last
</dl>
# endif
# endfor
{%- endmacro %}
