{% extends "apidoc_base.html" %}
{% from "apidoc_base.html" import namespace_nav with context %}
{% from "macros.html" import doc_list with context %}

{% block title %}{{ name }} - {{ settings.docs[lang.id].name }}{% endblock %}


{% set parts = sig.split('::') %}

{% block nav %}
{% if parts|length > 1 %}
<h2 class="cns">
{% for name in parts[:-1] %}<a href="{{ '../' * ((parts|length) - loop.index) }}">{{ name }}</a>{% if not loop.last %}:: {% endif %}{% endfor %}
</h2>
{% endif %}

{{ namespace_nav() }}
{% endblock %}


{% block body %}
<h1 class="cns">{{ lang.namespace_name }}
{% for name in parts %}{% if loop.last %}<i>{{ name }}</i>{% else %}<a href="{{ '../' * ((parts|length) - loop.index) }}">{{ name }}</a>::{% endif %}{% endfor %}</h1>

{{ brief|docstr(id) }}
{{ detailed|docstr(id) }}

{% macro member_list(list, label) -%}
{% if list|length %}
<h2>{{ label }}</h2>
<ul class="table">
{% for m in list %}
<li id="{{m.id}}"><a href="{{m.url|relativize}}" class="{{m.t}}">{{ m.name }}</a> <p>{{ m.brief|docstr(m.id, breakless=True, nolink=True) }}</p></li>
{% endfor %}
</ul>
{% endif %}
{%- endmacro %}

# if lang.id == "c":
{{ member_list(classes, "Structs") }}
# else
{{ member_list(classes, "Classes") }}
#endif

{{ member_list(enums, "Enums") }}
{{ doc_list(functions, "Functions") }}
{{ member_list(namespaces, "Sub "+lang.namespace_name+"s") }}
{{ member_list(defines, "Members") }}
{% endblock %}
