main ul {
    display:flex;
    margin:0;
    padding:0;
    list-style-type:none;
    flex-wrap:wrap;
}
main li {
    flex-grow:1;
    flex-basis:0;
    display:block;
    min-width:270px;
    margin:0 20px 20px 0;
    padding:0;
    text-align:center;
    font: 60px "Ubuntu Mono";
    height:400px;
    background:#777;
    border-radius:4px;
    box-shadow: 0 2px 4px #bbb;
    &:hover {
        background:#333;
    }
    
    h2 {
        display:block;
        height:400px;
    }
    a {
        display:block;
        color: white;
        height:60px;
        padding:310px 0 30px 0;
        &:hover {
            text-decoration:none;
        }
    }
}

#python {
    background: center no-repeat url(/img/python.svg);
}
#c a {
    font-size:300px;
    height:300px;
    padding:20px 0 80px 0;
}
